<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="/styles/about.css">
</head>
<body>
    <div class="about-box">
        <h1>About Us</h1>
        <p>Welcome to Local Leaf. This app is designed to provide the user information about the events that are
            happening in their current city. While there are many events that are stored in the data base, the events that 
            you see are strictly the ones that are in your city. If you do not see any events, please go ahead and add one. 
            If you live in a small city, try using a bigger city near by as geolocation might not have data on the small or new cities. 
        </p>
    </div>
</body>
</html>
