body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    background-color: #055920;
    color: #fff;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 50px;
    margin-left: 20px;
}

.nav-links {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.nav-link {
    margin-left: 20px;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
    background-color: #077d34;
    padding: 8px 15px;
    border-radius: 5px;
}

.contact_box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 300px;
    text-align: center;
    margin-top: 100px; 
}

.contact_box h1 {
    margin-bottom: 20px;
}

.contact_box input, .contact_box textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact_box textarea {
    resize: vertical;
    height: 100px;
}

button {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #055920;
    color: #fff;
    cursor: pointer;
}

