<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Event</title>
    <link rel="stylesheet" type="text/css" href="/styles/createEvent.css">
</head>
<body>
    <div class="container">
        <h1>Create Event</h1>
        <form id="createEventForm">
            <label for="eventName">Event Name:</label>
            <input type="text" id="eventName" name="eventName" required>
            <label for="parkName">Park Name:</label>
            <input type="text" id="parkName" name="parkName" required>
            <label for="city">City:</label>
            <input type="text" id="city" name="city" required>
            <button type="submit">Create Event</button>
        </form>
    </div>
    <script src="../scripts/createEvent.js"></script>
</body>
</html>
