<header>
    <img src="/images/logo.png" alt="Local Leaf Logo">
    <h1>{{appName}}</h1>
    <div class="nav-links">
        <a href="/" class="nav-link">Home</a>
        <a href="/contact" class="nav-link">Contact Us</a>
        <a href="/about" class="nav-link">About Us</a>
        <a href="/createEvent" class="nav-link">Create Event</a>
    </div>
</header>
