<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3Adj8GwPMcfbzPCAbbwezdW_d1q4jMdE&libraries=places"></script>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
</head>
<body>
    <h1>Welcome to Local Leaf!</h1>
    <div class="container">
        <button id="find-state">Click Me for Events</button>
    </div>
    <div id="results"></div>
    <script src="../scripts/parkFinder.js"></script>
</body>
</html>
